/*=Wrapper
-------------------------------------------------------------- */
.wpp_the_content {
	
}
  div.gallery-to-slideshow-wrapper {
	width: auto;
	overflow: hidden;
	padding: 1em 1em 0;
	margin: 0 auto 2.5em auto;
	position: relative;
	background: none;
	clear: both;
	display: block;
	border: none;
	@include border-radius(4px);
	@include transition(all .2s ease-in-out);
}
/* =Header
-------------------------------------------------------------- */
.gallery-to-slideshow-header {
	font-size: 24px; 
	overflow: hidden;
	padding: 1em;
	margin: 0 auto 1em;
	clear: both;
	display: block;
	font-family: $baseFontFamily;
	font-weight: normal;
	line-height: 1;
	color: $mainAccent;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
  
}
.gallery-to-slideshow-title {
	width:40%;
	float: right;
	clear: none;
	text-align:right;
	@include box-sizing(border-box);
}
.gallery-to-slideshow-caption {
	width:60%;
	float: left;
	clear: none;
	text-align:left;
	@include box-sizing(border-box);
}
.gallery-to-slideshow-title, .gallery-to-slideshow-caption {
	margin-bottom: 0;
}
/* =Slides
-------------------------------------------------------------- */
.flex-container a:active,
.gallery-to-slideshow a:active {
	outline: none;
}
.gallery-to-slideshow .slides {
	margin: 0; padding: 0; 
	list-style: none;
} 
.gallery-to-slideshow {
	width: 90%; 
	margin: 0 auto; 
	padding: 0;
}
.gallery-to-slideshow .slides > li {
	display: none;
}
.gallery-to-slideshow .slides img {
	max-width: 100%; 
	display: block; 
	height:auto;
	margin:0 auto;
}
.gallery-to-slideshow  .slides:after { 
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
} 
html[xmlns] .gallery-to-slideshow .slides {
	display: block;
} 
* html .gallery-to-slideshow  .slides {
	height: 1%;
	}
.no-js .gallery-to-slideshow  .slides > li:first-child {
	display: block;
}

/* =Pager
-------------------------------------------------------------- */
.gallery-to-slideshow .pager {
	text-align: center;
	margin: 1em auto 0;
	width: 100%;
	list-style: none;
	overflow: hidden;
}
.gallery-to-slideshow .pager li {

	margin: 0 6px;
display: inline-block;
zoom: 1;
}
.gallery-to-slideshow .pager li a {
width: 11px;
height: 11px;
display: block;
background: #666;
background: rgba(0, 0, 0, 0.5);
cursor: pointer;
text-indent: -9999px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.gallery-to-slideshow .pager li a img {
	width: 3em;
	height: 2.9em;
}
.gallery-to-slideshow .pager li.active a {
background: black;
background: rgba(0, 0, 0, 0.9);
cursor: default;
}
.flex-direction-nav {
	text-align:center;
	width:50%;
	margin:0 auto;
	padding: 1em 0 2em 0;
}
.flex-direction-nav li {
	list-style-type:none;
	a {
		display: inline-block;
  @include ie7-inline-block();
  padding: 4px 14px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  *line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btnBorder, 10%);
  @include border-radius(4px);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)});

  // Hover state
  &:hover {
    color: $grayDark;
    text-decoration: none;
    background-color: darken($white, 10%);
    *background-color: darken($white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);
  }

  // Focus state for keyboard and accessibility
  &:focus {
    @include tab-focus();
  }

  // Active state
  &.active,
  &:active {
    background-color: darken($white, 10%);
    background-color: darken($white, 15%) \9;
    background-image: none;
    outline: 0;
    @include box-shadow(#{inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)});
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: darken($white, 10%);
    background-image: none;
    @include opacity(65);
    @include box-shadow(none);
  }

}

}
.flex-direction-nav li:first-child {
	float:left;
}
.flex-direction-nav li:last-child {
	float:right;
}

/* =Captions
-------------------------------------------------------------- */
.gallery-to-slideshow .slides{
	zoom: 1; 
	position: relative;
}
.gallery-to-slideshow .flex-caption {
	width: 100%;	
	padding: 3% 0;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	text-shadow: 0 -1px 0 #666;
	font-size:0.9em;
	margin-bottom: 0 !important;
	background: #242424;
	background: -moz-linear-gradient(top, #242424 0%, #0b0b0b 17%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#242424), color-stop(17%,#0b0b0b));
	background: -webkit-linear-gradient(top, #242424 0%,#0b0b0b 17%);
	background: -o-linear-gradient(top, #242424 0%,#0b0b0b 17%);
	background: -ms-linear-gradient(top, #242424 0%,#0b0b0b 17%);
	background: linear-gradient(top, #242424 0%,#0b0b0b 17%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#0b0b0b',GradientType=0 );
}
.gallery-to-slideshow .flex-caption span {
  padding: 0 2%;
}
/* =Small
-------------------------------------------------------------- */
@media ( max-width: 959px ) {
	.gallery-to-slideshow-caption {
		width: 100%;
		text-align: center;
		}
	.gallery-to-slideshow-title {
		display: none;
		}
}

// FLEXSLIDER
.flexslider {
  @include border-radius(4px);
  @include transition(all .2s ease-in-out);

}
 .flex-viewport ul {
 	margin:0;
 }


.slides {
  position:relative;
}
.slides .wp-caption-text {
  position:absolute;
  margin-top:-50px;
  height:50px;
  padding-left:($gridGutterWidth);
  background-color:rgba(6,6,6,.3);
  width:100%;
  list-style-type:none;
  color:white;
  @include box-sizing(border-box);
}
.property_image .thumbnail {
  margin:0;
  padding:0;
}
.flex-control-nav {
	display:none;
}