//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  @include container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left:$gridGutterWidth;
  padding-right:$gridGutterWidth;
  margin-top:0px;
  @include clearfix();
}
.base-container {
  margin-bottom:$gridGutterWidth;
}

// Joe Add
#page {
  max-width:1020px;
  width:100%;
  margin:0 auto;
  background-color:$white;
}

.entry-header .entry-meta {
	padding-bottom: .5em;
	margin-bottom: .5em;
	border-bottom: dotted 1px $grayLight;
	font-family:$altFontFamily;
}
.entry-content {
  padding-bottom: 1.4em;
}
#nav-below {
	margin: .5em 0;
}
#primary {
	margin-top:0;
}
#content {
	@include box-sizing(border-box);
}

.site-description {
  @include box-sizing(border-box);
  font-size: 36px; 
  line-height: 40px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
} 
// Home styles
.home-title {
  @include box-sizing(border-box);
  padding-right:10px;
}
.home-summary {
  @include hyphens();
  h3 {
    font-size:20px;
    line-height:1;
  }
}
.sumgroup article {
  padding-top:.2em;
  padding-bottom:.5em;
}
.quick-links {
  text-align:center;
  width:100%;
}
.quick-links .icon {
  font-size:18px;
  line-height:1;
  color:$brown;
}
.quick-links a {
  margin:$gridGutterWidth / 3;
}
.icon:hover {
  text-decoration:none;

}
// Footer
.footer-container {
  background-color:$brown;
  padding:$gridGutterWidth;
  color:white;
}
.site-footer {
  margin:1em;
}
// Sidebar
// Footer
.property_widget_block {
  width:100%;
}
// Property styles
.wpp_featured_properties_widget {
  position:relative;
}
.property_widget_block {
  width:70%;
  float:right;
}

