//
// Navbar
// --------------------------------------------------


// Left Nav Fly-Out navbar
// -------------------------

.wrap {
  position: relative;
  @include transition(all 0.3s ease-out);  
  
}
.wrap.active {
  left: 16em;
}
a.menu-link,
a.call-link {
    display: block;
    color:$white;
    background-color:$black;
    height:100%;
    @include box-sizing(border-box);
}
a.menu-link {
  padding: 1em;
  float:left;
}
a.call-link {
  padding:1em;
  float:right;
  i {
    font-size:2em;
    margin:0;
    @include transition(text-shadow .5s ease);
  }
}
a.call-link:hover {
  text-decoration:none;
  i {
    text-shadow: 1px 1px 20px $mainAccent,1px -1px 20px $mainAccent,-1px 1px 20px $mainAccent,1px -1px 20px $mainAccent;
    @include transition(text-shadow .5s ease);
  }
}
a.menu-link:hover {
  text-decoration:none;
}

nav[role=navigation] {
  background:$brown;
  //clear: both;
  overflow: hidden;
  float:left;
}

.js nav[role=navigation] {
  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -16em;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #808080;
}
nav[role=navigation] li a {
  display: block;
  padding: 1em;
  color: $white;
  border-bottom: 1px solid #fff;
}
.topbar {
  background:$mainAccent;
  float:left;
  width:100%;
  height:50px;
  text-align:center;
  @include box-sizing(border-box);

}
.head-title h2 {
  font-size: 20px;
  line-height:1em;
  padding-top:3px;
  margin-top:0;
}
.head-title h2 a {
  color:#334d00;
  text-shadow: 1px 1px #82AA33, -1px -1px #000;
}
.head-title h2 a:hover {
    text-decoration:none;
    color:$white;
    text-shadow:none;
}