//
// Navbar
// --------------------------------------------------


// Left Nav Fly-Out navbar
// -------------------------

.wrap {
}
a.menu-link,
a.call-link {
    display: block;
    color:$white;
    background-color:$black;
    height:100%;
    width:65px;
    @include box-sizing(border-box);
}
a.menu-link {
  padding: 1em;
  float:left;
}
a.call-link {
  padding:1em;
  float:right;
  i {
    font-size:2em;
    margin:0;
    @include transition(text-shadow .5s ease);
  }
}
a.call-link:hover {
  text-decoration:none;
  i {
    text-shadow: 1px 1px 20px $mainAccent,1px -1px 20px $mainAccent,-1px 1px 20px $mainAccent,1px -1px 20px $mainAccent;
    @include transition(text-shadow .5s ease);
  }
}
a.menu-link:hover {
  text-decoration:none;
}

    nav[role=navigation] {
      clear: both;
      @include transition(all 0.3s ease-out);
    }
    .js nav[role=navigation] {
      overflow: hidden;
      max-height: 0;
      margin-top:0px;
      float:left;
      width:100%;
    }
    nav[role=navigation].active {
      max-height: 15em;
      margin-top:0px;
      width:100%;
    }
    .container-fluid.active {
      margin-top:0px;
    }
    nav[role=navigation] ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid #808080;
    }
    nav[role=navigation] li a {
      color:$mainAccent;
      display: block;
      padding: 0.8em;
      border-bottom: 1px solid #808080;
    }

.topbar {
  background:$mainAccent;
  float:right;
  width:100%;
  height:50px;
  text-align:center;
  @include box-sizing(border-box);

}
.site-title a{
  color:$white;
}
.head-title h2 {
  font-size: 20px;
  line-height:1em;
  padding-top:3px;
  margin-top:0;
}
.head-title h2 a {
  color:#334d00;
  text-shadow: 1px 1px #82AA33, -1px -1px #000;
}
.head-title h2 a:hover {
    text-decoration:none;
    color:$white;
    text-shadow:none;
}