@media screen and (min-width: 400px) {
  .head-title h2{
    font-size:$baseFontSize;
    line-height:1.5em;
    margin:1em;
    padding-top:0;
  }
}
@media screen and (min-width: 41.25em) {
  a.menu-link {
     display: none;
  }

      .js nav[role=navigation] {
        max-height: none;
        height:50px;
        background-color:$mainAccent;
        float:left;
        margin-top:-50px;
        width:auto;

      }
      nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
      }
      
      nav[role=navigation]  li {
        display: inline-block;
        margin: 0 0.25em;
      }
      nav[role=navigation] li a {
        border: 0;
        color:white;
      }
      .topbar {
        float:right;
        width:100%;
        padding-left:300px;
      }
      .container-fluid{
        margin:0;
      }
    }