//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 41.25em) and (max-width: 979px) {

  // Fixed grid
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);

  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same $gridGutterWidth
  .container-fluid{
  	margin:0;
    padding-right: $gridGutterWidth;
    padding-left: $gridGutterWidth;
  }

#content {
  padding: 0 $gridGutterWidth;
  }
  .home-title h1 {
  padding-top:.5em;
  line-height:1em;
  text-align:center;
  font-size:50px;
  text-align:left;
}
#content .head-description {
  float:left;
  width:50%;
}

.sub-head h2 {
  line-height:1em;
  text-align:left;
  font-size:30px;
}
.sub-head h3 {
  font-size: 16px;
  line-height:1em;
  text-align:left;
}
#content .contact-link {
  padding-top:1em;
  float:left;
  width:50%;
  text-align:left;
  margin-left:0px;
}
.head-title h2 {
  padding-left:2em;
}
.flex-direction-nav {
  width:50%;
}

}
