//
// Thumbnails
// --------------------------------------------------


// Note: `.thumbnails` and `.thumbnails > li` are overriden in responsive files

// Make wrapper ul behave like the grid
.thumbnails,
.wp-caption {
  margin-left: -$gridGutterWidth;
  list-style: none;
  @include clearfix();
}
.wp-caption {
  text-align:center;
}
#post-5 .wp-caption {
  float:right;
  margin: 0 0 5px 5px;
  width:33.33%;
  max-width:147px;
}
// Fluid rows have no left margin
.row-fluid .thumbnails,
.row-fluid .wp-caption {
  margin-left: 0;
}

// Float li to make thumbnails appear in a row
.thumbnails > li {
  float: left; // Explicity set the float since we don't require .span* classes
  margin-bottom: $baseLineHeight;
  margin-left: $gridGutterWidth;
}

// The actual thumbnail (can be `a` or `div`)
.thumbnail,
.wp-caption {
  display: block;
  padding: 4px;
  line-height: $baseLineHeight;
  border: 1px solid #ddd;
  @include border-radius(4px);
  @include box-shadow(0 1px 3px rgba(0,0,0,.055));
  @include transition(all .2s ease-in-out);
}
// Add a hover state for linked versions only
a.thumbnail:hover,
a.wp-caption:hover {
  border-color: $linkColor;
  @include box-shadow(0 1px 4px rgba(0,105,214,.25));
}

// Images and captions
.thumbnail > img,
.wp-caption > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption,
.wp-caption .caption {
  padding: 9px;
  color: $gray;
}

