//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 $baseLineHeight / 2;
}
.lead {
  margin-bottom: $baseLineHeight;
  font-size: $baseFontSize * 1.5;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5;
}


// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}

// Utility classes
.muted {
  color: $grayLight;
}
.text-warning {
  color: $warningText;
}
.text-error {
  color: $errorText;
}
.text-info {
  color: $infoText;
}
.text-success {
  color: $successText;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: ($baseLineHeight / 2) 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  line-height: 1;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  padding-top:.5em;
  small {
    font-weight: normal;
    line-height: 1;
    color: $grayLight;
  }
}
h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 30px; line-height: 40px; }
h3 { font-size: 24px; line-height: 40px; }
h4 { font-size: 18px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }


.entry-header h2 {
  font-family:$baseFontFamily;
  padding-top:.5em;
  font-size:24px;
  line-height:1.2em;
}
.entry-content h2{
  font-size:18px;
  line-height:20px;
}
.about-sub {
  font-family:$baseFontFamily;
  color:$blue;
}
#searchform .assistive-text {
  display: none;
}
.sumgroup h2,
#sidebar .widget-title,
.building_title_wrapper h3,
.wpp_the_content h3  {
  background:$mainAccent;
  color:white;
  font-size:($baseFontSize + 2);
  padding-left:$gridGutterWidth;
  line-height: 1.4em;
  padding-top: .5em;
  padding-bottom: .5em;

}
article .entry-title h2 {
  font-family:$baseFontFamily;
}

#post-6 h2 {
  font-size:1.2em;
  line-height:1;
  padding-bottom:.5em;
}

.head-description {
  padding-bottom: 0px;
}
.head-description h2 {
  line-height:1em;
  text-align:center;
  font-size:40px;
  padding:0px;
}
.head-description h3 {
  line-height:1em;
  text-align:center;
  padding:0px;
}
  // HOME Styling
.home-title h1 {
  padding-top:.5em;
  margin:0;
  line-height:1em;
  text-align:center;
  font-size:30px;
}

.home-title h1 a {
  color:$mainAccent;
}
.sub-head h2 {
  line-height:.5em;
  text-align:center;
  font-size:18px;
}
.sub-head h3 {
  font-size: 14px;
  line-height:1em;
  text-align:center;
  font-weight:normal;
  font-family:$baseFontFamily;
}

// Page header
// -------------------------





// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: $baseLineHeight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  @include clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: $horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: $horizontalComponentOffset;
  }
}

//Chirp and Widget Styling
.footer-widget ul,
.widget ul,
ul.chirp {
padding: 0;
margin: 0;
max-width:100%;

}
.footer-widget ul,
.widget li,
ul.chirp li {
  position: relative;
  list-style: none;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  
  width: 100%;
  display: inline-block;
  @include ie7-inline-block();
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  vertical-align: middle;
  cursor: pointer;
  @include ie7-restore-left-whitespace(); // Give IE7 some love
  @include box-sizing(border-box);
}
.widget li,
ul.chirp li {
  // @include buttonBackground($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  // border: 1px solid $btnBorder;
  // *border: 0; // Remove the border to prevent IE7's black border on input:focus
  // @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)});
  // border-bottom-color: darken($btnBorder, 10%);
  border-bottom: 1px solid $mainAccent;
}

ul.chirp li {
  padding: 10px 10px 10px 60px;

}
ul.chirp li:first-child,
.widget li:first-child {
  // @include border-radius(4px 4px 0px 0px);
}
ul.chirp li:last-child,
.widget li:last-child {
  border-bottom:none;
  // @include border-radius(0px 0px 4px 4px);
}
ul.chirp li img {
position: absolute;
left: 10px;
top: 10px;
margin-right: 10px;
width: 40px;
height: 40px;
@include border-radius(5px);
border: none;
}
ul.chirp li a {
  @include hyphens();
}
.widget li {
  padding: .5em;
}
.footer-widget li,
.property_widget_block {
  padding:.25em;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-top: thin solid darken($brownLight, 40%);
  border-bottom: thin solid darken($brown, 10%);
}
.footer-widget li:first-child,
.property_widget_block:first-child {
  border-top:none;
}
.footer-widget li:last-child,
.property_widget_block:last-child {
  border-bottom:none;
}

#footer1 li .icon {
    display:inline;
  }


// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $baseLineHeight;
  border-left: 5px solid $grayLighter;
  p {
    margin-bottom: 0;
    @include font-shorthand(16px,300,$baseLineHeight * 1.25);
  }
  small {
    display: block;
    line-height: $baseLineHeight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid $grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight;
  font-style: normal;
  line-height: $baseLineHeight;
}



